<section class="video-container">
  <video src="/images/food.mp4" autoplay loop playsinline></video>
  <div class="overlay">
    <h1 class="headtext">What's for Dinner?</h1>
  </div>
</section>

<div class="topbar container">
  <div class="row">
  </div>
</div>

<div class="row">
  <form name="users" method="POST" Action="/users" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input name='full_name' placeholder="Full_name" id="icon_prefix" type="text" class="validate">
      </div>
      <!-- <div class="input-field col s6">
        <input placeholder="Last Name" class="validate">
      </div> -->
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input name='telephone' placeholder="Telephone" id="icon-telephone" type="tel" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">face</i>
        <input name= 'username' placeholder="Username" id="icon-face" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input name = 'email' placeholder="Email" id="icon-email" type="email" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">security</i>
        <input name = 'password' placeholder="Password" id="icon-security" type="Password" class="validate">
      </div>
      <div class="input-field col s6">
        <input name= 'confirmPassword' placeholder="Confirm Password" id="confirmPassword" type="password">
      </div>

			<div class="row">
				<button class="btn waves-effect waves-light" type="submit" name="action">>Submit
			     <i class="material-icons right">send</i>
				</a>
				 </button>
				 <a class="google-btn" href="/auth/google">Google+</a>
				 <a class="facebook-btn" href="/auth/facebook">Facebook</a>

			 	</div>
    </div>
  </form>
</div>


<!-- Visual Breakpoint Helper for Materialize - http://materializecss.com/ -->
<div style="position:fixed;bottom:0;left:0;background-color:rgba(0,0,0,0.5);padding:10px;color:#fff;z-index: 99999999;">
  <span class="hide-on-med-only hide-on-large-only">Small</span>
  <span class="hide-on-small-only hide-on-large-only">Tablet</span>
  <span class="hide-on-small-only hide-on-med-only">Desktop</span>
</div>

<footer class="page-footer">
     <div class="container">
       <div class="row">
         <div class="col l6 s12">
           <h5 class="white-text"></h5>
           <p class="grey-text text-lighten-4">a web application that uses the inventory of your fridge to provide delcious recipie ideas!</p>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
       © 2018 Copyright
       <div class="grey-text text-lighten-4 right" href="#!">by James and Anders</div>
       </div>
     </div>
   </footer>
